#budgetssection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
#budgetspanel{
    background-color: #657e9e;
    border-radius: 10px;
}

.budgetsbtn{
    border-radius: 5px;
    margin: 10px;
}

#budgetsadding input,select{
    border-radius: 5px;
    
}