#title{
  color:darkred;
  
  
  height:35px;
  width: auto;
  text-align: center;
  
}

header{
 
  width: 100%;
  margin-bottom: 20px;
  background-color:  #bcc4e7;
  
}
nav a{
  text-decoration: none;
  margin:20px;
  color:black;
}
#about{
  font: arial;
}
footer{
 
  width: 100%;
  background-color: #bcc4e7;
}
main{
  flex:1;
}
#headerbar{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
