#budgetssection{
    display: flex;
    flex-direction: row-reverse;
    
}
#budgetspanel{
    background-color: rgb(164, 144, 113);
    border-radius: 10px;
}

.budgetsbtn{
    border-radius: 5px;
    margin: 10px;
}

#budgetsadding input,select{
    border-radius: 5px;
    
}