#expensespanel{
    background-color: #657e9e;
}
#expensehandlers{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.iconbtns{
    width: 20px;
    height: 20px;
    border-radius: 10%;
    margin: 10px;
}
.expensesbtn{
    border-radius: 5px;
    margin: 10px;
}
#addingexpense input,select{
    border-radius: 5px;
}
